<section class="light parallax" id="about">
  <div class="wrap about">
    <div class="two-third  wow fadeInLeft">
      <h2 class="brn sngl">About</h2>
      <h5 class="ylw">Something about Cosmos Jaipur</h5>
      <p>Something more :) </p>
      <!-- <p class="tel"><i class="fa fa-phone" aria-hidden="true"></i>010-2345-6789</p> -->
    </div>
    <div class="third wow fadeInRight">
        <img src="img/about.jpg">
    </div>
  </div>
</section>
