<!-- Contact -->
<section class="contact">
  <div class="half">
    <ul class="location location1">
      <li style="cursor: pointer"><a onclick="$('#dir2').hide(); $('#dir1').show(); locate_mansarover()">Mansarovar</a></li>
    </ul>
    <div>
      <ul class="info">
        <li><i class="fa fa-phone" aria-hidden="true"></i>094140 51795</li>
        <li><i class="fa fa-envelope" aria-hidden="true"></i>cosmojaipur@gmail.com</li>
        <li><i class="fa fa-map-marker" aria-hidden="true"></i>124/13 Near IIIM Mansarovar</li>
        <li>Jaipur, Rajasthan 302020</li>
      </ul>
    </div>
  </div>

  <div class="half">
    <ul class="location location2">
      <li style="cursor: pointer"><a class="active" onclick="$('#dir1').hide(); $('#dir2').show(); locate_rajapark()">Raja Park</a></li>
    </ul>
    <div>
      <ul class="info">
        <li><i class="fa fa-phone" aria-hidden="true"></i>091161 01313</li>
        <li><i class="fa fa-envelope" aria-hidden="true"></i>cosmojaipur@gmail.com</li>
        <li><i class="fa fa-map-marker" aria-hidden="true"></i>220, Dhruv Marg, Gurunanakpura</li>
        <li>Tilak Nagar, Jaipur, Rajasthan 302004</li>
      </ul>
    </div>
  </div>
</section>
