<section class="dark" id="events">
  <div class="wrap">
    <h2 class="ylw wow fadeInRight">Events</h2>
    <div class="evnt-calendar">
      <div class="scroll wow fadeInUp">
      <!-- first artist -->
        <div class="evt">
          <div class="third">
            <img src="img/event1.jpg">
          </div>
          <div class="two-third">
            <h3 class="date"><i class="fa fa-calendar-o" aria-hidden="true"></i>Date 1<span>Entrance: 8PM~Mansarovar</span></h3>
            <p>Event Description</p>
            <a href="#" class="btn-main">Learn more</a>
          </div>
        </div> <!-- artist end -->
        <div class="evt">
          <div class="third">
            <img src="img/event2.jpg">
          </div>
          <div class="two-third">
            <h3 class="date"><i class="fa fa-calendar-o" aria-hidden="true"></i>Date 2<span>Entrance: 6PM~Raja Park</span></h3>
            <p>Event Description </p>
            <a href="#" class="btn-main">Learn more</a>
          </div>
        </div> <!-- artist end -->
        <div class="evt">
          <div class="third">
            <img src="img/event3.jpg">
          </div>
          <div class="two-third">
            <h3 class="date"><i class="fa fa-calendar-o" aria-hidden="true"></i>Date 3<span>Entrance: 7:30PM~Venue</span></h3>
            <p>Event Description</p>
            <a href="#" class="btn-main">Learn more</a>
          </div>
        </div> <!-- artist end -->
      </div> <!-- scroll end -->
      <div class="full wow fadeInUp">
        <div class="arrows">
          <a href="#" id="prev" class="left"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
          <a href="#" id="next" class="right"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
        </div>
        <ul class="handlers">
          <li><a class="active" href="#artist1"></a></li>
          <li><a href="#artist2"></a></li>
          <li><a href="#artist3"></a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
