<!-- happy hour -->
<section class="hppy-hr parallax">
  <div class="wrap">
    <h2 class="ylw wow fadeInRight">Happy Hour Deals</h2>
    <small class="wow fadeInLeft">Mon.-Fri.  17:30-19:00</small>
    <div class="submenu wow fadeInUp">
      <div class="half">
        <ul>
          <li>Item Name<span class="price">Rs 5</span></li>
          <li>Item Name<span class="price">Rs 5</span></li>
          <li>Item Name<span class="price">Rs 5</span></li>
          <li>Item Name<span class="price">Rs 5</span></li>
        </ul>
      </div>
      <div class="half">
          <ul>
            <li>Item Name<span class="price">Rs 5</span></li>
            <li>Item Name<span class="price">Rs 5</span></li>
            <li>Item Name<span class="price">Rs 5</span></li>
            <li>Item Name<span class="price">Rs 5</span></li>
          </ul>
      </div> 
    </div>
  </div>
</section>
