<!-- Map -->
<center>
  <h2 class="light parallax brn sngl wow" style="padding-bottom: 20px;padding-top: 20px;margin-top: 0px;;margin-bottom: 0px;">Come Visit Us</h2>

  <section class="light parallax" id="map"></section>

  <div class="dir_button" id="dir1" style="display:none;">
    <a href="https://www.google.co.in/maps/place/cosmos+jaipur/@26.8436974,75.7683972,20z/data=!4m8!1m2!3m1!2scosmos+jaipur!3m4!1s0x0:0xa7fdfd3acfb9dca4!8m2!3d26.8436951!4d75.7685689" target="_blank"><i class="material-icons">directions</i>  Get Directions</a>
  </div>

  <div class="dir_button" id="dir2">
    <a href="https://www.google.co.in/maps/place/Cosmos+Jaipur/@26.8961665,75.8220901,15.7z/data=!4m5!3m4!1s0x0:0xfbecbcd8e7ea01d5!8m2!3d26.8942531!4d75.824056" target="_blank"><i class="material-icons">directions</i>  Get Directions</a>
  </div>
</center>
