<nav>
  <div class="navi">
  <a href="#" class="toggle">Menu</a>
  <ul>
      <li><a href="#menu" class="smooth"><i class="fa fa-cutlery" aria-hidden="true"></i>Menu</a></li>
      <li><a href="#events" class="smooth"><i class="fa fa-music" aria-hidden="true"></i>Events</a></li>
      <li><a href="#about" class="smooth"><i class="fa fa-info" aria-hidden="true"></i>About</a></li>
      <li><a href="#team" class="smooth"><i class="fa fa-users" aria-hidden="true"></i>Our Team</a></li>
      <li><a href="#map" class="smooth"><i class="fa fa-map-marker" aria-hidden="true"></i>Visit Us</a></li>
  </ul>
  <a class="logo" href="/"><img src="img/image.jpg"></a>
  </div>
</nav>
