<section class="subscribe">
  <h2 class="ylw sngl">Subscribe for updates</h2>
  <div id="message" class="alert-danger" style="display: none">
    <strong>Email or phone already registered. Please try again</strong>
  </div>
  <div id="emailbox" class="half">
    <form id="email_form" class="form-control" role="form" action="/api/emailsubscribers" method="post" onsubmit="return ValidateEmail()">
      <!-- <input type="text" placeholder="Your name" required="required"> -->
      <input id="email" type="email" name="email" placeholder="Enter Email Addresss" required="required" onfocus="HideAlert()">
      <small>We'll never share your details with anyone else.</small><br>
      <input id="email_check" type="checkbox"> I agree to receive promotional messages from Cosmos Jaipur
      <input type="submit" val="Subscribe">
    </form>
  </div>
  <!-- <div class="half">
    <center>
      <h2 class="ylw sngl">Our Message Partner</h2>
      <a href="https://msg91.com/startups/?utm_source=startup-banner"><img src="https://msg91.com/images/startups/msg91Badge.png" width="120" height="90" title="MSG91 - SMS for Startups" alt="Bulk SMS - MSG91" style="margin-top: 15px"></a>
    </center>
  </div> -->
</section>
