<!-- team -->
<section class="light parallax" id="team">
  <div class="wrap" style="padding-bottom: 20px;padding-top: 20px">
    <h2 class="brn sngl wow fadeInLeft" style="padding-bottom: 20px">Our Team</h2>
    <div class="row">
      <div class="column">
        <div class="card">
          <img src="img/nikhil.jpg" alt="Nikhil" style="width:100%">
          <div class="container">
            <h3>Nikhil Nagar</h3>
            <p class="title">Operations, Mansarovar</p>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <img src="img/harman.jpg" alt="Harmanpreet" style="width:100%">
          <div class="container" style="padding: 0 8px">
            <h3>Harmanpreet Singh</h3>
            <p class="title">Operations, Rajapark</p>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <img src="img/akshay.jpg" alt="Akshay" style="width:100%">
          <div class="container">
            <h3>Akshay Vijay</h3>
            <p class="title">Operations, Rajapark</p>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <img src="img/sourabh.jpg" alt="Souarbh" style="width:100%">
          <div class="container">
            <h3>Sourabh Mangal</h3>
            <p class="title">Lead Developer</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
