<div id="burger1" class="card1 hidden">
  <div class="full snacks">
      <h3>Burger</h3>
  </div>
  <div class="half">
    <ul>
      <li>Cosmerger<span class="price">Rs 70</span></li>
      <li>Tandoori<span class="price">Rs 70</span></li>
      <li>Fiery Mexican<span class="price">Rs 80</span></li>
    </ul>
  </div>
  <div class="half">
    <ul>
      <li>Chinese<span class="price">Rs 70</span></li>
      <li>Achari Burger<span class="price">Rs 70</span></li>
    </ul>
  </div>
</div>
