<div id="milkshakes1" class="card1 hidden">
  <div class="full snacks">
      <h3>Milkshakes</h3>
  </div>
  <div class="half">
    <ul>
      <li>Chocolate Oreo<span class="price">Rs 100</span></li>
      <li>Brownie<span class="price">Rs 100</span></li>
    </ul>
  </div>
  <div class="half">
    <ul>
      <li>Blue Rose<span class="price">Rs 100</span></li>
      <li>Choclate indulgence with choco chips<span class="price">Rs 100</span></li>
    </ul>
  </div>
</div>
