<div id="mojitos1" class="card1 hidden">
  <div class="full snacks">
      <h3>Mojitos</h3>
  </div>
  <div class="half">
    <ul>
      <li>Virgin Mojito<span class="price">Rs 90</span></li>
      <li>Blue Lagoon<span class="price">Rs 90</span></li>
      <li>Green Apple Mojito<span class="price">Rs 90</span></li>
    </ul>
  </div>
  <div class="half">
    <ul>
      <li>Sexy Lady'S Mojito<span class="price">Rs 90</span></li>
      <li>Watermelon Mojito<span class="price">Rs 90</span></li>
      <li>Blueberry Mojito<span class="price">Rs 90</span></li>
    </ul>
  </div>
</div>
