<div id="nachos1" class="card1 hidden">
  <div class="full drinks">
      <h3>Nachos</h3>
  </div>
  <div class="half">
    <ul>
      <li>Nachos & Dip<span class="price">Rs 80</span></li>
      <li>Nachos Pizza<span class="price">Rs 180</span></li>
    </ul>
  </div>
  <div class="half">
    <ul>
      <li>Overloaded Nachos<span class="price">Rs 180</span></li>
      <li>Mountain Nachos<span class="price">Rs 200</span></li>
    </ul>
  </div>
</div>
