<div id="pasta1" class="card1 hidden">
  <div class="full snacks">
      <h3>Pasta</h3>
  </div>
  <div class="half">
    <ul>
      <li>Red Sauce<span class="price">Rs 120</span></li>
      <li>White Sauce<span class="price">Rs 130</span></li>
    </ul>
  </div>
  <div class="half">
    <ul>
      <li>Cosmo Special<span class="price">Rs 120</span></li>
      <li>Pesto Sauce<span class="price">Rs 130</span></li>
    </ul>
  </div>
</div>
