<div id="pizza1" class="card1 hidden">
  <div class="full snacks">
      <h3>Pizza</h3>
  </div>
  <div class="half">
    <ul>
      <li>Margaritta<span class="price">Rs 140</span></li>
      <li>Farmhouse (OTC )<span class="price">Rs 140</span></li>
      <li>Fresh Veg (Capsicum Onion) <span class="price">Rs 140</span></li>
      <li>Spicy Veg (Capsicum onion Jalapenos)<span class="price">Rs 140</span></li>
      <li>Nacho Pizza<span class="price">Rs 180</span></li>
    </ul>
  </div>
  <div class="half">
    <ul>
      <li>Tandoori<span class="price">Rs 140</span></li>
      <li>Mexican<span class="price">Rs 140</span></li>
      <li>Corn & Olive Delight  <span class="price">Rs 140</span></li>
      <li>Roman (black olives onion Jalapenos)<span class="price">Rs 140</span></li>
      <li>Cosmo Delight<span class="price">Rs 200</span></li>
    </ul>
  </div>
</div>
