<div id="sandwhiches1" class="card1">
  <div class="full main">
    <h3>Sandwhiches</h3>
  </div>
  <div class="half">
    <ul>
      <li>Simply Cheese<span class="price">Rs 50</span></li>
      <li>Corn Mayo<span class="price">Rs 50</span></li>
      <li>Chocolate Sandiwich<span class="price">Rs 70</span></li>
      <li>Cheese Jalapeno<span class="price">Rs 90</span></li>
      
    </ul>
  </div>
  <div class="half">
    <ul>
      <li>Cheese OTC<span class="price">Rs 60</span></li>
      <li>English Sandwiches</li>
      <li>Corn Capsicum Cheese<span class="price">Rs 80</span></li>
      <li>Tomato Cheese<span class="price">Rs 80</span></li>
    </ul>
  </div>
</div>
