<div id="toasts1" class="card1 hidden">
  <div class="full desserts">
    <h3>Toasts</h3>
  </div>
  <div class="half">
    <ul>
      <li>Peanut Butter Toast<span class="price">Rs 50</span></li>
      <li>Olive Cheese Toast<span class="price">Rs 140</span></li>
      <li>Italian Cheese Toast<span class="price">Rs 140</span></li>
    </ul>
  </div>
  <div class="half">
    <ul>
      <li>Nutella Toast<span class="price">Rs 50</span></li>
      <li>Chilli Cheese Toast<span class="price">Rs 140</span></li>
    </ul>
  </div>
</div>
