<div id="brownie2" class="card2 hidden">
  <div class="full snacks">
      <h3>Sweet Tooth</h3>
  </div>
  <div class="half">
    <ul>
      <li>Brownie With Chocolate Sauce<span class="price">Rs 89</span></li>
      <li>Brownie With Nutella<span class="price">Rs 139</span></li>
      <li>Love Bite Ice Cream Sundae<span class="price">Rs 139</span></li>
    </ul>
  </div>
  <div class="half">
    <ul>
      <li>Brownie With Chocolate Fudge<span class="price">Rs 115</span></li>
      <li>Brownie With Ice Cream<span class="price">Rs 139</span></li>
      <li>Oreo Cosmo Jar<span class="price">Rs 170</span></li>
    </ul>
  </div>
</div>
