<div id="burger2" class="card2 hidden">
  <div class="full snacks">
      <h3>Burger & Pasta</h3>
  </div>
  <div class="half">
    <ul>
      <li>Classic Veg Burger<span class="price">Rs 69</span></li>
      <li>Cosmerger<span class="price">Rs 95</span></li>
      <li>Fiery Mexican Burger<span class="price">Rs 105</span></li>
      <li>Arrabiata Red Sauce Pasta<span class="price">Rs 175</span></li>
      <li>Alfredo White Sauce Pasta<span class="price">Rs 189</span></li>
    </ul>
  </div>
  <div class="half">
    <ul>
      <li>Tandoori Burger<span class="price">Rs 95</span></li>
      <li>Chinese Burger<span class="price">Rs 95</span></li>
      <li>Achari Burger<span class="price">Rs 95</span></li>
      <li>Cosmo Pasta<span class="price">Rs 175</span></li>
      <li>Basil Pesto Sauce Pasta<span class="price">Rs 189</span></li>
    </ul>
  </div>
</div>
