<div id="coffee2" class="card2 hidden">
  <div class="full snacks">
      <h3>Cold Beverages</h3>
  </div>
  <div class="half">
    <ul>
      <li>Soft Drinks (Pepsi/Mirinda)<span class="price">Rs 32</span></li>
      <li>Peach Juice<span class="price">Rs 70</span></li>
      <li>Genuine Cold Coffee<span class="price">Rs 119</span></li>
      <li>Davidoff Cold Coffee<span class="price">Rs 139</span></li>
      <li>Caramel Cold Coffee<span class="price">Rs 139</span></li>
    </ul>
  </div>
  <div class="half">
    <ul>
      <li>Mumbai Soda<span class="price">Rs 70</span></li>
      <li>Orange Juice<span class="price">Rs 70</span></li>
      <li>Chocolate<span class="price">Rs 129</span></li>
      <li>Cold Coffee With Ice Cream<span class="price">Rs 139</span></li>
      <li>Hazelnut Cold Coffee<span class="price">Rs 139</span></li>
    </ul>
  </div>
</div>
