 <div id="combo2" class="card2 hidden">
  <div class="full snacks">
      <h3>Combo Meals</h3>
  </div>
  <div class="half">
    <ul>
      <li>Maggi + Pepsi<span class="price">Rs 69</span></li>
      <li>Puff Pizza Samosa + Pepsi<span class="price">Rs 139</span></li>
      <li>Burger + Fries + Pepsi<span class="price">Rs 155</span></li>
      <li>Burger + Fries + Peach Juice<span class="price">Rs 209</span></li>
      <li>Red Sauce Pasta + Brownie<span class="price">Rs 245</span></li>
      <li>Farmhouse Pizza + Pepsi<span class="price">Rs 259</span></li>
    </ul>
  </div>
  <div class="half">
    <ul>
      <li>Maggi + Small Cold Coffee<span class="price">Rs 119</span></li>
      <li>Nachos and Dips + Mumbai Soda<span class="price">Rs 139</span></li>
      <li>OTC Sandwich + Peach Juice<span class="price">Rs 139</span></li>
      <li>OTC Sandwich + Hash Browns + Peach Juice<span class="price">Rs 209</span></li>
      <li>Burger + Fries + Mumbai soda<span class="price">Rs 209</span></li>
      <li>Burger + Fries + Verry Berry Milkshake<span class="price">Rs 269</span></li>
    </ul>
  </div>
</div>
