<div id="fries2" class="card2 hidden">
  <div class="full drinks">
      <h3>French Fries</h3>
  </div>
  <div class="half">
    <ul>
      <li>Classic<span class="price">Rs 115</span></li>
      <li>Cosmo Fries<span class="price">Rs 139</span></li>
      <li>Magic Fries<span class="price">Rs 209</span></li>
      <li>Oh Soo Cheesy Fries <span class="price">Rs 209</span></li>
      <li>Cheese Poppers & Fries<span class="price">Rs 209</span></li>
    </ul>
  </div>
  <div class="half">
    <ul>
      <li>Peri Peri Fries<span class="price">Rs 139</span></li>
      <li>N Fries<span class="price">Rs 139</span></li>
      <li>Fries and Dips<span class="price">Rs 209</span></li>
      <li>Thai Sweet Chilly Fries<span class="price">Rs 209</span></li>
    </ul>
  </div>
</div>
