<div id="maggi2" class="card2 hidden">
  <div class="full snacks">
      <h3>Maggi & Nachos</h3>
  </div>
  <div class="half">
    <ul>
      <li>Bachelors Plain Maggi<span class="price">Rs 50</span></li>
      <li>Cheese Maggi <span class="price">Rs 69</span></li>
      <li>Veg Cheese Maggi <span class="price">Rs 95</span></li>
      <li>Pizzagi<span class="price">Rs 95</span></li>
      <li>Tikhi Veg Cheese Maggi (Spicy)<span class="price">Rs 125</span></li>
      <li>Cheesy Spicy Nachos<span class="price">Rs 189</span></li>
      <li>Nachos Pizza<span class="price">Rs 259</span></li>
    </ul>
  </div>
  <div class="half">
    <ul>
      <li>Veg Maggi <span class="price">Rs 69</span></li>
      <li>Tikhi Maggi (Spicy)<span class="price">Rs 69</span></li>
      <li>Tikhi Veg Maggi (Spicy)<span class="price">Rs 95</span></li>
      <li>Tandoori Jalapeno Maggi<span class="price">Rs 95</span></li>
      <li style="color: #fff">1</li>
      <li>Overloaded Nachos<span class="price">Rs 259</span></li>
      <li>Mountain Nachos<span class="price">Rs 289</span></li>
    </ul>
  </div>
</div>
