<div id="milkshakes2" class="card2 hidden">
  <div class="full snacks">
      <h3>The Original Milkshakes</h3>
  </div>
  <div class="half">
    <ul>
      <li>Banarsi (Paan)<span class="price">Rs 129</span></li>
      <li>Mint Oreo<span class="price">Rs 139</span></li>
      <li>Caramello<span class="price">Rs 139</span></li>
      <li>Exotic Litchi<span class="price">Rs 139</span></li>
      <li>Blueberry<span class="price">Rs 139</span></li>
    </ul>
  </div>
  <div class="half">
    <ul>
      <li>Bubblegum<span class="price">Rs 129</span></li>
      <li>Nutella Oreo<span class="price">Rs 139</span></li>
      <li>Goa Delight<span class="price">Rs 139</span></li>
      <li>Tutti Fruti<span class="price">Rs 139</span></li>
      <li>Verry Berry<span class="price">Rs 139</span></li>
    </ul>
  </div>
</div>
