<div id="munchies2" class="card2 hidden">
  <div class="full drinks">
      <h3>Munchies</h3>
  </div>
  <div class="half">
    <ul>
      <li>Bingo Bhel<span class="price">Rs 85</span></li>
      <li>Sweet Corn Cup<span class="price">Rs 85</span></li>
      <li>Cheese Garlic Bread<span class="price">Rs 100</span></li>
      <li>Cheese Poppers<span class="price">Rs 169</span></li>
    </ul>
  </div>
  <div class="half">
    <ul>
      <li>Kurkure Bhel<span class="price">Rs 85</span></li>
      <li>Hash Browns<span class="price">Rs 85</span></li>
      <li>Puff Pizza Samosa<span class="price">Rs 125</span></li>
    </ul>
  </div>
</div>
