<div id="pizza2" class="card2 hidden">
  <div class="full snacks">
      <h3>Pizza</h3>
  </div>
  <div class="half">
    <ul>
      <li>Queen Margaritta<span class="price">Rs 219</span></li>
      <li>Farmhouse (Cheese OTC)<span class="price">Rs 249</span></li>
      <li>Roman (Black Olives Onion Jalapenos)<span class="price">Rs 249</span></li>
      <li>Tandoori Paneer<span class="price">Rs 259</span></li>
      <li>Nachos Pizza<span class="price">Rs 259</span></li>
    </ul>
  </div>
  <div class="half">
    <ul>
      <li>Fresh Veggie (Capsicum Onion)<span class="price">Rs 235</span></li>
      <li>Mexicana<span class="price">Rs 249</span></li>
      <li>Spicy Veg(Capsicum Onion Jalapenos)<span class="price">Rs 249</span></li>
      <li>Corn & Olive Delight<span class="price">Rs 249</span></li>
      <li>Cosmo Delight<span class="price">Rs 289</span></li>
    </ul>
  </div>
</div>
