<div id="sandwhiches2" class="card2">
  <div class="full main">
    <h3>Sandwhiches</h3>
  </div>
  <div class="half">
    <ul>
      <li>Simply Cheese<span class="price">Rs 69</span></li>
      <li>Cheese OTC<span class="price">Rs 85</span></li>
      <li>Tomato Cheese<span class="price">Rs 115</span></li>
      <li>Corn Capsicum Cheese<span class="price">Rs 115</span></li>
      <!-- <li>Peanut Butter Toast<span class="price">Rs 69</span></li>
      <li>Wild Blueberry Toast<span class="price">Rs 69</span></li>
      <li>Chilli Cheese Toast<span class="price">Rs 209</span></li> -->
    </ul>
  </div>
  <div class="half">
    <ul>
      
      <li>Corn Mayo<span class="price">Rs 69</span></li>
      <li>Chocolate Sandiwich<span class="price">Rs 95</span></li>
      <li>Paneer Sandwich<span class="price">Rs 115</span></li>
      <li>Cheese Jalapeno Bomber<span class="price">Rs 125</span></li>
      <!-- <li>Nutella Toast<span class="price">Rs 69</span></li>
      <li>Strawberry Toast<span class="price">Rs 69</span></li>
      <li>Olive Cheese Toast<span class="price">Rs 209</span></li> -->
    </ul>
  </div>
</div>
