<!doctype html>
<html class="no-js" lang="">
  <head>
    <% include ../partials/header.ejs %>
  </head>
  <body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div id="preloader">
        <div id="status"></div>
    </div>
    <div class="hero">
      <div class="wrap">
        <% include ../partials/nav_main.ejs %>
        
        <div class="heading">
          <h2 class="wow fadeInRight" data-wow-delay="1s">WELCOME TO CAFE COSMOS JAIPUR</h2>
          <p class="wow fadeInRight" data-wow-delay="1s">Write something cheeky here<br> for the introduction<br> and change photo</p>
          <a href="/subscribe" class="btn-main smooth wow fadeInUp" data-wow-delay="1s">SUBSCRIBE</a>
        </div>
      </div>
    </div>
    
    <section class="light parallax" id="menu">
      <div class="wrap menu">
        <h2 class="brn">Menu</h2>
        <ul class="navigate filter">
          <li><a href="#mansarovar_menu" class="active" onClick="$('#rajapark_menu').hide();$('#mansarovar_menu').show()">Mansarovar</a></li>
          <li><a href="#rajapark_menu" onClick="$('#mansarovar_menu').hide();$('#rajapark_menu').show()">Raja Park</a></li>
        </ul>

        <div id="mansarovar_menu" class="menu-card wow fadeInUp">
          <ul class="navigate1 filter wow fadeInUp">
            <li><a href="#sandwhiches1" class="active">Sandwhiches</a></li>
            <li><a href="#toasts1">Toasts</a></li>
            <li><a href="#nachos1">Nachos</a></li>
            <li><a href="#burger1">Burger</a></li>
            <li><a href="#maggi1">Maggi</a></li>
            <li><a href="#pasta1">Pasta</a></li>
            <li><a href="#pizza1">Pizza</a></li>
            <li><a href="#milkshakes1">Milkshakes</a></li>
            <li><a href="#mojitos1">Mojitos</a></li>
            <li><a href="#combo1">Combo</a></li>
          </ul>

          <div class="categories">
            <% include ../partials/menu_mansarovar/sandwhiches.ejs %>
            <% include ../partials/menu_mansarovar/toasts.ejs %>
            <% include ../partials/menu_mansarovar/nachos.ejs %>
            <% include ../partials/menu_mansarovar/burger.ejs %>
            <% include ../partials/menu_mansarovar/maggi.ejs %>
            <% include ../partials/menu_mansarovar/pasta.ejs %>
            <% include ../partials/menu_mansarovar/pizza.ejs %>
            <% include ../partials/menu_mansarovar/milkshakes.ejs %>
            <% include ../partials/menu_mansarovar/mojitos.ejs %>
            <% include ../partials/menu_mansarovar/combo.ejs %>
          </div>

          <a class="button_new" href="https://s3-eu-west-1.amazonaws.com/cosmos-jaipur/menu-cards/mansarovar.pdf"><i class="fa fa-cloud-download" aria-hidden="true"></i>      Full Menu</a>
        </div>

        <div id="rajapark_menu" class="menu-card fadeInUp" style="display: none">
          <ul class="navigate2 filter fadeInUp">
            <li><a href="#sandwhiches2" class="active">Sandwhiches</a></li>
            <li><a href="#toasts2">Toasts</a></li>
            <li><a href="#munchies2">Munchies</a></li>
            <li><a href="#fries2">Fries</a></li>
            <li><a href="#burger2">Burger & Pasta</a></li>
            <li><a href="#maggi2">Maggi & Nachos</a></li>
            <li><a href="#pizza2">Pizza</a></li>
            <li><a href="#brownie2">Brownies</a></li>
            <li><a href="#milkshakes2">Milkshakes</a></li>
            <li><a href="#coffee2">Coffee</a></li>
            <li><a href="#mojitos2">Mojitos</a></li>
            <li><a href="#combo2">Combos</a></li>
          </ul>

          <div style="float: left; width:100%;">
            <% include ../partials/menu_rajapark/sandwhiches.ejs %>
            <% include ../partials/menu_rajapark/toasts.ejs %>
            <% include ../partials/menu_rajapark/munchies.ejs %>
            <% include ../partials/menu_rajapark/fries.ejs %>
            <% include ../partials/menu_rajapark/burger.ejs %>
            <% include ../partials/menu_rajapark/maggi.ejs %>
            <% include ../partials/menu_rajapark/pizza.ejs %>
            <% include ../partials/menu_rajapark/brownie.ejs %>
            <% include ../partials/menu_rajapark/milkshakes.ejs %>
            <% include ../partials/menu_rajapark/coffee.ejs %>
            <% include ../partials/menu_rajapark/mojitos.ejs %>
            <% include ../partials/menu_rajapark/combo.ejs %>
          </div>

          <a class="button_new" href="https://s3-eu-west-1.amazonaws.com/cosmos-jaipur/menu-cards/rajapark.pdf"><i class="fa fa-cloud-download" aria-hidden="true"></i>      Full Menu</a>
        </div>  
      </div> <!-- Wrapper end -->
    </section> <!-- Menu section end -->

    <% include ../partials/events.ejs %>
    <% include ../partials/about.ejs %>
    <% include ../partials/happydeals.ejs %>
    <% include ../partials/team.ejs %>
    <% include ../partials/map.ejs %>
    <% include ../partials/contact.ejs %>
    <% include ../partials/partners.ejs %>
    <% include ../partials/footer.ejs %>

    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
    <script src="js/main.js"></script>
    <!-- initialize wow -->
    <script src="js/wow.min.js"></script>
    <script src="js/validations.js"></script>
    <script> new WOW().init(); </script>
  </body>
</html>
