<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <div class="jumbotron text-center">
    <div class="container">
      <a href="/">
        <img src="/image.jpg">
      </a>
      <h1>Welcome to Cafe Cosmos Jaipur</h1>
      <p>Content coming soon!</p>
    </div>
    <a href="/subscribe">
      <button type="submit" class="btn btn-primary">Subscribe</button>
    </a>
  </div>

  <% include ../partials/footer.ejs %>

</body>
</html>
