<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <div class="jumbotron text-center">
    <div class="container">
      <a href="/">
        <img src="/image.jpg">
      </a>
      <h1>Welcome to Cafe Cosmos Jaipur</h1>
      <p>Content coming soon!</p>
    </div>
  </div>

  <form action="/api/subscribers" method="post" >
    <label for="email">Email: </label>
    <input id="email" type="text" name="email" placeholder="Your Email Address">
    <label for="phone">Phone: </label>
    <input id="phone" type="text" name="phone" placeholder="Your Mobile Number">
    <input type="submit" value="OK">
  </form>

  <div id="bottom">
    <div class="inside">          
      <div class="left">© 2016 - 2018 Cafe Cosmos Jaipur <span>All rights reserved</span></div>
    </div>
  </div>

</body>
</html>
