<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="refresh" content="10;url=http://localhost:5000/subscribe/" />
    <% include ../partials/header.ejs %>
  </head>

  <body>
    <% include ../partials/nav.ejs %>
    
    <div class="jumbotron text-xs-center">
      <center><h1 class="display-3">Thank you for visiting us</h1>
      <hr>
      <p class="lead"><strong>Hope you had a good time!!</strong></p>
      <p class="lead">
        <a class="btn btn-primary btn-sm" href="https://bootstrapcreative.com/" role="button">Continue to homepage</a>
      </p>
    </div>

    <% include ../partials/footer.ejs %>
  </body>
</html>
